*{
    padding: 0 !important;
    margin: 0 !important;
    box-sizing: border-box !important;
    text-decoration: none !important;
}

#logo{
    box-shadow:1px 1px 2px 1px white;
    width: 5rem;
    height: 2rem;
}
.btn-cerrar{
    display: none;
}

.btn-nav{
    display: none;
}
.navbar{
    justify-content: space-evenly !important;
    flex-wrap : wrap;
     width: 400px;
     display: flex ;
}
.navbar a{
    color: white;
}
.navbar a:hover{
    transform: scale(1.2, 1.2);
    color: rgb(0, 0, 0);
}
header{
    justify-content: space-around ;
    background-color: rgb(17, 17, 16);
    align-items: center !important;
    min-height: 10vh;
    display: flex ;
}
main{ 
    background-color: bisque;
    min-height: 80vh;
}

.section-1{
    background-color: black;
} 
.section{
    align-items: center !important;
    justify-content: center !important;
    display: flex ;
    background-repeat:no-repeat;
    background-position: center !important;
    background-size: cover;
    min-height: 10vh;
    background-image: url(../images/Books.jpg);
}
h1{
    background-color: rgba(0, 0, 0, 0.288);
    color: white !important;
}
#boxCaja{
display: flex !important;
    width: 70rem;
}
#formPadre{
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
}
form{
    width: auto;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.986);
    align-items: center;
    display: flex;
    min-height: 10vh;
}
.box-container{
    border: none !important;
    flex-wrap: wrap;
    color: white;
    justify-content: space-between;
    display: flex;
    width: 38rem;
}

label:hover{
    border-bottom: solid 1px white;
    color: rgb(255, 255, 255);
    background-color: black;
   /*  transform: scale(1.1, 1.1); */
}

label{

     
    font-size: 14px;
    justify-content: center !important;
    margin-bottom:5px !important;
    color: black;
    background-color: rgb(255, 255, 255);
    display: flex !important;
    width: 120px !important;
    border-radius: 20px;
    border: 1px solid rgb(0, 0, 0);
}

.search{
    width: 320px;
    height: 40px;
    display: flex;
}
.section-art{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
     background-image:url(../images/poso.jpg) !important;
    background: linear-gradient(rgba(214, 15, 15, 0.116), rgba(158, 114, 114, 0.171)); 
    padding-top: 10px !important;
    min-height: 60vh;
    align-items: center !important;
    justify-content: space-around;
    flex-wrap: wrap;
    display: flex;
}
footer{
    justify-content: space-evenly;
    background-color: rgb(109, 100, 100);
    min-height: 10vh;
}
.div-img img{
    width: 3rem;
}
.div-img{
    justify-content: space-evenly;
    width: 200px !important;
}

.card img:hover{
    transform: scale(1, 1) !important;
}

.card img{
    width: 286px;
    height: 190.31px;
}

.card {
    backdrop-filter:blur(25px);
    min-height: 20vh !important;
    background: transparent !important;
    margin-right: 10px !important;
    box-shadow: 3px 2px 5px 5px rgba(235, 237, 241, 0.438) !important;
    margin-bottom: 25px !important;
    text-align: center;
}

.formulario{
    justify-content: center;
    background-image: linear-gradient(rgb(252, 232, 190), rgb(209, 198, 175), rgb(165, 129, 82), rgb(255, 229, 197));
    min-height: 60vh;
}

.contact-txt label{
    justify-content: start;
    border: none !important;
    background-color: rgba(255, 0, 0, 0) !important;
}
.contact-txt{
    color: white;
    /* justify-content: space-evenly !important; */
    height: 20rem;
    display: flex;
    flex-direction: column;
}
.submit{
    margin-top: 12px !important;
    align-self: flex-end;
    width: 70px;
}
.formulario img{
      
      width: 8rem;
}

.div-articulos{
    margin-top: 15px !important;
    min-height: 65vh;
    align-items: center !important;
    justify-content: space-around !important;
    flex-wrap: wrap;
    display: flex;
}

.articulo-txt:hover{
    background-color: bisque !important;
    margin-left: 10px !important;
    box-shadow: 5px 10px 20px 10px;
    /* position: relative !important; */
   /*  top: 0 !important; */
    /* transform: translateY(100%); */
   /*  animation: unset; */
    transform: scale(1.1, 1.2);
}

.articulo-txt{
    margin-right: 8px !important;
    
    text-align: start !important;
    text-transform:initial;
    font-size: 20px;
    text-align: left;
    height:auto ;
    width: 250px;
}
.card-body{
    font-size: 15px;
    height: 150px !important;
    color: white !important;
    width: 285px;
    display: flex;
    flex-direction: column;
    align-items: center !important;
    
}

.card-body .btn:hover{
 position: absolute !important;
 bottom: 5px;
 right: 10px;
 transform: scale(1.2, 1.2) !important; 
 background-color: rgb(248, 248, 248) !important;
}
.btn-pre {
    justify-content: space-between;
  position: absolute;
  bottom: 5px;
  display: flex;
  width: 250px !important;
  position: absolute !important;
  top: auto;
 
}
 .card-body .btn{
   
    border-radius: 10px;
    font-weight: 600;
    border: 1px solid rgba(240, 240, 240, 0.404) !important;
    color: rgb(0, 0, 0) !important;
    background-color: rgba(212, 212, 212, 0.486); 

} 

.articulo-img:hover{
    
    
    box-shadow: 1px 1px 5px 6px rgba(0, 0, 0, 0.329) !important;
}

.articulo-img{  
   
    width: 250px;
}
.articulo-img img:hover{
     box-shadow: 5px 10px 20px 10px;
     position: absolute !important;
    /*  top: 0 !important; */
     transform: translateY(100%);
    /*  animation: unset; */
     transform: scale(1, 1);
}

.col-8{
    
    box-shadow: 1px 1px 8px 8px rgb(175, 15, 15);
}
table, th,td{
    border: 2px solid black !important;
    border-collapse: collapse !important;
}
.td-txt:hover{
  background-color: gray !important;
}
.td-txt{
    background-color: gray !important;
    color: rgb(0, 0, 0) !important;
    font-weight: 800 !important; 
}
.div-table{
    width:100%;
    background-color: bisque;
    margin-top: 2rem !important;
}
td:hover{
   /*  box-shadow:5px 5px 6px 5px; */
   background-color: rgb(253, 253, 253) !important;
}

.main-cards{
    background-color: bisque;
    align-items: center;
    flex-direction: column;
    display: flex;
    
}

.section-4{
    background-color: black;
    width: 100%;
}

.main-table{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center !important;
    background-color: black;
}

#div-tabla{
    background-color: black;
    width: auto;
   
}

@media(min-width:320px) and (max-width:768px){

    header{
        z-index: 3;
        position: sticky;
        top: 0;
        min-height: 20vh;
        flex-wrap: wrap;
    }
    main{
        flex-grow: 1;
    }
      #logo{
        margin: 8px 0 !important;
        width:100px ;
      }
   .navbar {
    z-index: 2;
        /* visibility: hidden !important;
        opacity: 0 !important; */
        /* display: none !important; */
        font-size: 20px !important;
        background-color: rgb(0, 0, 0);
        width: 250px;
        flex-direction: column !important;
    /*     position: absolute!important;
        top: 0;
        right: 0;
        height: 40rem;
        align-items: end;
        padding: 2rem !important;
        box-shadow: 0 0 0 100vmax rgb(0, 0, 0, .5); */

       
    }
   .navbar.visible{
        opacity: 1 !important;
        visibility: visible !important;
    }

    label{
        width: 150px !important;
        
    }
    #boxCaja label{
        padding-left: 10px !important;
        justify-content: start !important;
    }
    
  /*   .formulario-genera{
        z-index: 1;
        position: sticky;
        top: 50px !important;
    } */
    
    .div-img{
        text-align: center;
        width: 320px !important;
        padding: 10px 0 !important;
    }

    

    footer{
        min-height: 15vh;
        justify-content: center;
        flex-wrap: wrap;
    }
    h3{
        font-size: 2rem !important;
    }

    .card-body{
        height: 10rem !important;
    }

  
}

@media(min-width:769px){
    .articulo-img img:hover{
        width: 30rem;
        box-shadow: 5px 10px 20px 10px;
        position: absolute !important;
        top: 250PX !important;
        transform: scale(1, 1.2);
     
       
   }


   .articulo-txt{
    margin-right: 50px !important;
   }
   
}


@media(max-width:320px){
   
 #formPadre{
    z-index: 1;
    position: sticky !important ;
    top: 198px;
} 



   
}